<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CFO RH users</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="container">
    <div class="container">
      <div style="display: inline-grid">
	<img src="/images/cfologo.png" alt="CFO Tech logo">
      </div>
      <fieldset>
        <form action="/login" method="post" enctype='application/json'>
	<div style="display: inline-grid">
	</div>
        </form>
      </fieldset>
    </div>
    </div>
  </body>
</html>
