<!--<!DOCTYPE html>-->
<% entities.forEach(function(result) { %>
<div>
  <li>
    <a href="#" class="pull-left">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo" style="width: 48px">
    </a><%= result.name %>
  </li>
  <div>
<% }); %>
