<!--<!DOCTYPE html>-->
<% users.forEach(function(result) { %>
<div>
  <li style="margin-bottom: 10px;>
    <a href="#" class="float" style="margin-bottom: 10px">
    	<img src="images/128.jpg" class="media-photo" style="width: 40px">
	<%= result.login %>	
    </a>
  </li>
  <div>
<% }); %>

