<!--<!DOCTYPE html>-->
<div class="navbar-collapse">
<ul class="nav navbar-nav">
<li><a id="bar-home" style="text-shadow: none;" href="/index">Home</a></li>
<li><a id="bar-entities" style="text-shadow: none;" href="/entities">Postulants</a></li>
<li><a id="bar-users" style="text-shadow: none;" href="/users">Users</a></li>
<li><a id="bar-logout" style="text-shadow: none;" onclick="return confirm('Are you sure?')" href="/logout">Logout</a></li>
</ul>
</div>

