<!DOCTYPE html>
<html>
  <head><% include partials/header %></head>
  <body>
    <div class="container">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: indigo; ">
        <div class="container">
        <% include partials/menu %>
        </div>
      </div>
      <div style="margin-top: 60px;">
      	<button type="button" class="btn btn-primary" style="width: 100px" >Add new</button>
      </div>
      <div style="display: inline-grid; margin-top: 25px">
	<% include partials/item-entity %>
      </div>
    </div>
  </body>
</html>

