<!DOCTYPE html>
<html>
  <head><% include partials/header %></head>
  <body>
    <div class="container">
	<% include partials/menu %>
	<br/><br/><br/><br/><br/>
	<div><%= message %></div>
    </div>
    <% include partials/style %>
  </body>
</html>
