<!DOCTYPE html>
<html>
  <head><% include partials/header %></head>
  <body>
    <div class="container">
    <div class="container">
      <div style="display: inline-grid">
	<img src="images/cfologo.png" style="margin-left: 50%;" alt="CFO Tech logo">
      </div>
      <fieldset>
        <form action="/login" method="post" enctype='application/json'>
	<div style="display: inline-grid">
          <input name="username" type="text" class="ghost-input" placeholder="User" required>
          <input name="password" type="password" class="ghost-input" placeholder="Password" required>
	  <div style="margin-top: 20px"/>
	  <input type="submit" class="ghost-button" value="Login">
	</div>
	<%= message %>
        </form>
      </fieldset>
    </div>
    </div>
    <% include partials/style %>
  </body>
</html>
