<!DOCTYPE html>
<html>
  <head><% include partials/header %></head>
  <body>
    <div class="container">
      <!-- Navigation bar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: indigo; ">
        <div class="container">
        <% include partials/menu %>
        </div>
      </div>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color: lightgrey;">
              <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
            </div>
            <div class="modal-body">
            <div class="input-group">
	    <div>
              <input type="text" class="form-control" placeholder="Login" aria-label="Name" aria-describedby="basic-addon1">
	    </div>
	    <div>
              <input type="text" class="form-control" placeholder="Password" aria-label="Telephone" aria-describedby="basic-addon1">
	    </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" style="margin-top: 2px">Admin</label>
            </div>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Button trigger modal -->
      <div style="margin-top: 60px;">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Add new
      </button>
      </div>

      <div style="display: inline-grid; margin-top: 25px">
	<% include partials/item-user %>
      </div>
    </div>

    <script>
      $(document).ready(function() { document.getElementById("bar-users").style.fontWeight = "bold" });
    </script>

    <% include partials/style %>
  </body>
</html>

